(
    nodes: [
        (name: "Walk Clip", node: Clip("animations/human_walk.anim.ron", Some(1.))), 
        (name: "Walk Clip 2", node: Clip("animations/human_walk.anim.ron", Some(1.))), 
        (name: "Run Clip",  node: Clip("animations/human_run.anim.ron", Some(1.))), 
        (name: "Run Clip 2",  node: Clip("animations/human_run.anim.ron", Some(1.))), 
        (name: "Walk Flip LR", node: FlipLR), 
        (name: "Run Flip LR", node: FlipLR), 
        (name: "Walk Chain", node: Chain), 
        (name: "Run Chain", node: Chain), 
        (name: "Blend", node: Blend), 
        (name: "Loop", node: Loop), 
        (name: "Speed", node: Speed), 
        (name: "Make Rotation", node: RotationArc),
        (name: "Rotate", node: Rotation),
        (name: "Param graph", node: Graph("animation_graphs/velocity_to_params.animgraph.ron")),
    ],
    default_parameters: {
        "Target Speed": F32(1.5),
        "Target Direction": Vec3((1., 0., 0.)),

        // Constant 
        "Rotation Mask": BoneMask(
            Positive(
                bones: {
                    ["Main Controller", "Main Controller"]: 1.
                }
            )
        ),
        "Z": Vec3((0., 0., 1.)),
    },
    output_pose: Some(BoneSpace),
    edges_inverted: {
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodeParameter("Make Rotation", "Vec3 In 1"): InputParameter("Z"),
        NodeParameter("Make Rotation", "Vec3 In 2"): InputParameter("Target Direction"),
        NodeParameter("Rotate", "Bone Mask"): InputParameter("Rotation Mask"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodeParameter("Rotate", "Rotation"): NodeParameter("Make Rotation", "Quat Out"), 
        NodePose("Walk Chain", "Pose In 1"): NodePose("Walk Clip"),
        NodePose("Walk Flip LR", "Pose In"): NodePose("Walk Clip 2"),
        NodePose("Walk Chain", "Pose In 2"): NodePose("Walk Flip LR"),
        NodePose("Run Chain", "Pose In 1"): NodePose("Run Clip"),
        NodePose("Run Flip LR", "Pose In"): NodePose("Run Clip 2"),
        NodePose("Run Chain", "Pose In 2"): NodePose("Run Flip LR"),
        NodePose("Blend", "Pose In 1"): NodePose("Walk Chain"),
        NodePose("Blend", "Pose In 2"): NodePose("Run Chain"),
        NodePose("Loop", "Pose In"): NodePose("Blend"),
        NodePose("Speed", "Pose In"): NodePose("Loop"),
        NodePose("Rotate", "Pose In"): NodePose("Speed"),
        OutputPose: NodePose("Rotate"),
    },
)
