(
    nodes: [
        (
            name: "IK left hand",
            node: TwoBoneIK,
        ),
        (
            name: "Run Flip LR",
            node: FlipLR,
        ),
        (
            name: "Walk Flip LR",
            node: FlipLR,
        ),
        (
            name: "Param graph",
            node: Graph("animation_graphs/velocity_to_params.animgraph.ron"),
        ),
        (
            name: "Speed",
            node: Speed,
        ),
        (
            name: "Walk Clip",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Loop",
            node: Loop,
        ),
        (
            name: "Rotate",
            node: Rotation,
        ),
        (
            name: "Run Clip",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Facing rotation",
            node: RotationArc,
        ),
        (
            name: "Extend to skeleton",
            node: ExtendSkeleton,
        ),
        (
            name: "Walk Chain",
            node: Chain,
        ),
        (
            name: "Walk Clip 2",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Run Clip 2",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Blend",
            node: Blend,
        ),
        (
            name: "Run Chain",
            node: Chain,
        ),
    ],
    edges_inverted: {
        NodePose("Walk Flip LR", "Pose In"): NodePose("Walk Clip 2"),
        NodePose("Blend", "Pose In 2"): NodePose("Run Chain"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodePose("Loop", "Pose In"): NodePose("Blend"),
        NodePose("Speed", "Pose In"): NodePose("Loop"),
        NodePose("Run Chain", "Pose In 2"): NodePose("Run Flip LR"),
        NodePose("Rotate", "Pose In"): NodePose("Speed"),
        NodePose("Walk Chain", "Pose In 2"): NodePose("Walk Flip LR"),
        NodeParameter("Rotate", "Rotation"): NodeParameter("Facing rotation", "Quat Out"),
        NodePose("Run Chain", "Pose In 1"): NodePose("Run Clip"),
        NodePose("Blend", "Pose In 1"): NodePose("Walk Chain"),
        NodePose("Walk Chain", "Pose In 1"): NodePose("Walk Clip"),
        NodeParameter("Facing rotation", "Vec3 In 2"): InputParameter("Target Direction"),
        NodePose("Run Flip LR", "Pose In"): NodePose("Run Clip 2"),
        NodeParameter("Facing rotation", "Vec3 In 1"): InputParameter("Z"),
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodeParameter("IK left hand", "Target Path"): InputParameter("Target Path"),
        NodePose("Extend to skeleton", "Pose In"): NodePose("Rotate"),
        NodePose("IK left hand", "Pose In"): NodePose("Extend to skeleton"),
        NodeParameter("Rotate", "Bone Mask"): InputParameter("Rotation Mask"),
        OutputPose: NodePose("IK left hand"),
        NodeParameter("IK left hand", "Target Position"): InputParameter("Target Position"),
    },
    default_parameters: {
        "Target Position": Vec3((2.5, -0.2, 1.0)),
        "Target Path": EntityPath([
            "Main Controller",
            "Main Controller",
            "Hip",
            "Waist",
            "Chest",
            "Shoulder L",
            "Upper Arm L",
            "Lower Arm L",
            "Wrist L",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
        "Target Speed": F32(1.5),
        "Rotation Mask": BoneMask(Positive(
            bones: {
                [
                    "Main Controller",
                    "Main Controller",
                ]: 1.0,
            },
        )),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
    },
    input_poses: {},
    output_parameters: {},
    output_pose: Some(BoneSpace),
    extra: (
        node_positions: {
            "IK left hand": (1094.0, 5.0),
            "Run Flip LR": (16.0, 47.0),
            "Walk Flip LR": (20.0, -150.0),
            "Param graph": (235.0, 155.0),
            "Speed": (670.0, -28.0),
            "Walk Clip": (20.0, -239.0),
            "Loop": (535.0, -26.0),
            "Rotate": (810.0, -29.0),
            "Run Clip": (19.0, -44.0),
            "Facing rotation": (661.0, 263.0),
            "Extend to skeleton": (952.0, 9.0),
            "Walk Chain": (163.0, -191.0),
            "Walk Clip 2": (-120.0, -144.0),
            "Run Clip 2": (-120.0, 52.0),
            "Blend": (375.0, -64.0),
            "Run Chain": (170.0, -4.0),
        },
        input_position: (69.0, 330.0),
        output_position: (1229.0, 56.0),
    ),
)