(
    nodes: [
        (
            name: "",
            node: Clip("animations/fox_run.anim.ron", None),
        ),
    ],
    edges_inverted: {},
    default_parameters: {},
    input_poses: {},
    output_parameters: {},
    output_pose: None,
    extra: (
        node_positions: {
            "": (105.0, -119.0),
        },
        input_position: (315.0, 31.0),
        output_position: (-29.0, 31.0),
    ),
)