(
    colliders: [
        (
            id: ("505e7d48-bbdb-440b-ad3f-5886d332b294"),
            shape: Capsule((
                radius: 0.1,
                half_length: 0.15,
            )),
            override_layers: false,
            layer_membership: 0,
            layer_filter: 0,
            attached_to: [
                "metarig",
                "spine",
                "thigh.R",
                "shin.R",
                "foot.R",
            ],
            offset: (
                rotation: (0.0, -0.0, 0.0, 1.0),
                translation: (0.0, 0.25, -0.025),
            ),
            offset_mode: Global,
            label: "shin",
            use_suffixes: true,
        ),
    ],
    skeleton: "skeletons/human.skn.ron",
    symmetry: (
        name_mapper: Pattern((
            key_1: "L",
            key_2: "R",
            pattern_before: "^.*",
            pattern_after: "$",
        )),
        mode: MirrorX,
    ),
    symmetry_enabled: true,
    default_layer_membership: 1,
    default_layer_filter: 0,
    suffix: ".R",
    mirror_suffix: ".L",
)