(
    nodes: [
        (name: "Alpha Tmp 1", node: SubF32),
        (name: "Alpha Tmp 2", node: SubF32),
        (name: "Alpha Tmp 3", node: DivF32),
        (name: "Target Speed Abs", node: AbsF32),
        (name: "Alpha", node: ClampF32),

        (name: "1-Alpha", node: SubF32),
        (name: "Factored walk speed", node: MulF32),
        (name: "Factored run speed", node: MulF32),
        (name: "Blended base speed", node: AddF32),
        (name: "Speed factor", node: DivF32),
    ],
    default_parameters: {
        "Walk Base Speed": F32(0.3),
        "Run Base Speed": F32(0.8),
        "Blend Start": F32(1.0),
        "Blend End": F32(3.0),

        "Target Speed": F32(1.5),

        // Constant values
        "ZERO": F32(0.),
        "ONE": F32(1.),
    },
    output_parameters: {
        "speed_fac": F32,
        "blend_fac": F32,
    },
    edges_inverted: {
        NodeParameter("Alpha", "Min"): InputParameter("ZERO"),
        NodeParameter("Alpha", "Max"): InputParameter("ONE"),
        NodeParameter("Target Speed Abs", "F32 In"): InputParameter("Target Speed"),
        NodeParameter("Alpha Tmp 1", "F32 In 2"): InputParameter("Blend Start"),
        NodeParameter("Alpha Tmp 2", "F32 In 1"): InputParameter("Blend End"),
        NodeParameter("Alpha Tmp 2", "F32 In 2"): InputParameter("Blend Start"),
        NodeParameter("1-Alpha", "F32 In 1"): InputParameter("ONE"),
        NodeParameter("Factored walk speed", "F32 In 1"): InputParameter("Walk Base Speed"),
        NodeParameter("Factored run speed", "F32 In 1"): InputParameter("Run Base Speed"),
        NodeParameter("Speed factor", "F32 In 1"): InputParameter("Target Speed"),
        NodeParameter("Alpha Tmp 1", "F32 In 1"): NodeParameter("Target Speed Abs", "F32 Out"),
        NodeParameter("Alpha Tmp 3", "F32 In 1"): NodeParameter("Alpha Tmp 1", "F32 Out"),
        NodeParameter("Alpha Tmp 3", "F32 In 2"): NodeParameter("Alpha Tmp 2", "F32 Out"),
        NodeParameter("Alpha", "F32 In"): NodeParameter("Alpha Tmp 3", "F32 Out"),
        NodeParameter("1-Alpha", "F32 In 2"): NodeParameter("Alpha", "F32 Out"),
        NodeParameter("Factored walk speed", "F32 In 2"): NodeParameter("1-Alpha", "F32 Out"),
        NodeParameter("Factored run speed", "F32 In 2"): NodeParameter("Alpha", "F32 Out"),
        NodeParameter("Blended base speed", "F32 In 1"): NodeParameter("Factored walk speed", "F32 Out"),
        NodeParameter("Blended base speed", "F32 In 2"): NodeParameter("Factored run speed", "F32 Out"),
        NodeParameter("Speed factor", "F32 In 2"): NodeParameter("Blended base speed", "F32 Out"),
        OutputParameter("blend_fac"): NodeParameter("Alpha", "F32 Out"),
        OutputParameter("speed_fac"): NodeParameter("Speed factor", "F32 Out"),
    },
)
