(
    nodes: [],
    edges_inverted: {},
    io_spec: (
        input_times: [],
        input_data: {
            Passthrough("walk_speed"): F32,
            Passthrough("run_speed"): F32,
            Passthrough("1"): F32,
            Passthrough("bend_start"): F32,
            Passthrough("0"): F32,
            Passthrough("speed"): F32,
            Passthrough("bled_end"): F32,
        },
        output_time: false,
        output_data: {},
        input_order: {
            Data(Passthrough("run_speed")): 4,
            Data(Passthrough("speed")): 5,
            Data(Passthrough("1")): 6,
            Data(Passthrough("bend_start")): 0,
            Data(Passthrough("0")): 3,
            Data(Passthrough("walk_speed")): 1,
            Data(Passthrough("bled_end")): 2,
        },
        output_order: {},
    ),
    default_data: {
        Passthrough("walk_speed"): F32(0.7),
        Passthrough("blend_end"): F32(4.5),
        Passthrough("run_speed"): F32(1.3),
        Passthrough("blend_start"): F32(1.0),
        Passthrough("1"): F32(1.0),
        Passthrough("0"): F32(0.0),
        Passthrough("speed"): F32(1.0),
    },
    editor_metadata: (
        node_positions: {},
        input_position: (0.0, 0.0),
        output_position: (0.0, 0.0),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)