(
    nodes: [
        (
            id: "1ec43df9-2b7d-496f-a1b6-240f706f3ab1",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::ClipNode": (
                    clip: "animations/fox_walk.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
            should_debug: false,
        ),
        (
            id: "73b3cd1b-e0e5-42c2-aac7-d13a2569f623",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::LoopNode": (
                    interpolation_period: 0.0,
                ),
            },
            should_debug: false,
        ),
    ],
    edges_inverted: {
        NodeTime("73b3cd1b-e0e5-42c2-aac7-d13a2569f623", "time"): NodeTime("1ec43df9-2b7d-496f-a1b6-240f706f3ab1"),
        OutputData("pose"): NodeData("73b3cd1b-e0e5-42c2-aac7-d13a2569f623", "pose"),
        OutputTime: NodeTime("73b3cd1b-e0e5-42c2-aac7-d13a2569f623"),
        NodeData("73b3cd1b-e0e5-42c2-aac7-d13a2569f623", "pose"): NodeData("1ec43df9-2b7d-496f-a1b6-240f706f3ab1", "pose"),
    },
    io_spec: (
        input_times: [],
        input_data: {},
        output_time: true,
        output_data: {
            "pose": Pose,
        },
        input_order: {},
        output_order: {
            Data("pose"): 2,
            Time: 3,
        },
    ),
    default_data: {},
    editor_metadata: (
        node_positions: {
            "1ec43df9-2b7d-496f-a1b6-240f706f3ab1": (142.92188, 364.32813),
            "73b3cd1b-e0e5-42c2-aac7-d13a2569f623": (324.57422, 370.9922),
        },
        input_position: (8.113281, 390.42578),
        output_position: (506.64453, 362.07422),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)