(
    nodes: [
        (name: "Walk Clip", node: Clip("animations/fox_walk.anim.ron", None)), 
        (name: "Run Clip",  node: Clip("animations/fox_run.anim.ron", None)), 
        (name: "Blend", node: Blend), 
        (name: "Loop Walk", node: Loop), 
        (name: "Loop Run", node: Loop), 
        (name: "Speed", node: Speed), 
        (name: "Param graph", node: Graph("animation_graphs/velocity_to_params.animgraph.ron")),
    ],
    default_parameters: {
        "Target Speed": F32(1.5),
        "Blend Start": F32(0.5),
        "Blend End": F32(1.5),
    },
    output_pose: Some(BoneSpace),
    edges_inverted: {
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodeParameter("Param graph", "Blend Start"): InputParameter("Blend Start"),
        NodeParameter("Param graph", "Blend End"): InputParameter("Blend End"),
        OutputPose: NodePose("Speed"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodePose("Loop Walk", "Pose In"): NodePose("Walk Clip"),
        NodePose("Loop Run", "Pose In"): NodePose("Run Clip"),
        NodePose("Blend", "Pose In 1"): NodePose("Loop Walk"),
        NodePose("Blend", "Pose In 2"): NodePose("Loop Run"),
        NodePose("Speed", "Pose In"): NodePose("Blend"),
    },
)
