(
    nodes: [
        (
            id: "3b2662cd-27e1-4ee5-9bfa-958e8e747e1e",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::ConstRagdollConfig": (
                    value: (
                        default_mode: Some(Kinematic),
                        mode_overrides: {},
                        default_readback: Some(true),
                        readback_overrides: {},
                    ),
                ),
            },
            should_debug: true,
        ),
    ],
    edges_inverted: {
        OutputData("ragdoll_config"): NodeData("3b2662cd-27e1-4ee5-9bfa-958e8e747e1e", "out"),
    },
    io_spec: (
        input_times: [],
        input_data: {},
        output_time: false,
        output_data: {
            "ragdoll_config": RagdollConfig,
        },
        input_order: {},
        output_order: {
            Data("ragdoll_config"): 0,
        },
    ),
    default_data: {},
    editor_metadata: (
        node_positions: {
            "3b2662cd-27e1-4ee5-9bfa-958e8e747e1e": (466.11328, 47.734375),
        },
        input_position: (75.02734, 52.007813),
        output_position: (749.6875, 36.6875),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)