(
    nodes: [
        (
            name: "chain walk",
            ty: "bevy_animation_graph::node::pose::Chain",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "walk clip 2",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_walk.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "wave diff",
            ty: "bevy_animation_graph::node::pose::Blend",
            inner: (
                mode: Difference,
                sync_mode: Absolute,
            ),
        ),
        (
            name: "wave",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_wave.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "wave additive",
            ty: "bevy_animation_graph::node::pose::Blend",
            inner: (
                mode: Additive,
                sync_mode: Absolute,
            ),
        ),
        (
            name: "flip run",
            ty: "bevy_animation_graph::node::pose::FlipLeftRight",
            inner: (
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "run clip 2",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_run.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "Make Rotation",
            ty: "bevy_animation_graph::node::quat::FromRotationArc",
            inner: (),
        ),
        (
            name: "run clip 1",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_run.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "speed",
            ty: "bevy_animation_graph::node::pose::ChangeSpeed",
            inner: (),
        ),
        (
            name: "stand",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_stand.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "flip walk",
            ty: "bevy_animation_graph::node::pose::FlipLeftRight",
            inner: (
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "blend",
            ty: "bevy_animation_graph::node::pose::Blend",
            inner: (
                mode: LinearInterpolate,
                sync_mode: Absolute,
            ),
        ),
        (
            name: "Parameters",
            ty: "bevy_animation_graph::node::graph::Graph",
            inner: (
                graph: "animation_graphs/velocity_to_params.animgraph.ron",
            ),
        ),
        (
            name: "Rotate",
            ty: "bevy_animation_graph::node::pose::Rotate",
            inner: (
                application_mode: Compose,
                rotation_space: Character,
                chain_decay: Linear,
                chain_length: 1,
                base_weight: 1.0,
            ),
        ),
        (
            name: "chain run",
            ty: "bevy_animation_graph::node::pose::Chain",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "walk clip 1",
            ty: "bevy_animation_graph::node::pose::Clip",
            inner: (
                clip: "animations/human_walk.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "loop",
            ty: "bevy_animation_graph::node::pose::Repeat",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
    ],
    edges_inverted: {
        NodeData("wave diff", "in_pose_b"): NodeData("wave", "out"),
        NodeTime("flip walk", "in_time"): NodeTime("walk clip 2"),
        NodeData("chain run", "pose_a"): NodeData("run clip 1", "out"),
        NodeTime("loop", "in_time"): NodeTime("blend"),
        NodeData("Rotate", "in_pose"): NodeData("wave additive", "out"),
        NodeTime("chain walk", "time_a"): NodeTime("walk clip 1"),
        NodeTime("speed", "in_time"): NodeTime("loop"),
        NodeData("chain walk", "pose_a"): NodeData("walk clip 1", "out"),
        NodeTime("wave additive", "in_time_a"): NodeTime("speed"),
        NodeData("Make Rotation", "in_a"): InputData("Z"),
        NodeData("wave diff", "in_pose_a"): NodeData("stand", "out"),
        NodeTime("chain walk", "time_b"): NodeTime("flip walk"),
        NodeData("Make Rotation", "in_b"): InputData("Target Direction"),
        NodeData("wave additive", "in_pose_b"): NodeData("wave diff", "out"),
        NodeData("wave additive", "factor"): InputData("1"),
        NodeTime("blend", "in_time_b"): NodeTime("chain run"),
        NodeTime("wave additive", "in_time_b"): NodeTime("wave diff"),
        NodeData("chain walk", "pose_b"): NodeData("flip walk", "out"),
        NodeTime("Rotate", "in_time"): NodeTime("wave additive"),
        NodeTime("flip run", "in_time"): NodeTime("run clip 2"),
        NodeData("blend", "in_pose_b"): NodeData("chain run", "out"),
        NodeData("blend", "factor"): NodeData("Parameters", "blend_fac"),
        NodeData("Rotate", "target"): InputData("rotation_bone"),
        NodeData("loop", "in_pose"): NodeData("blend", "out"),
        NodeData("Rotate", "rotation"): NodeData("Make Rotation", "out"),
        NodeTime("chain run", "time_b"): NodeTime("flip run"),
        NodeData("wave diff", "factor"): InputData("1"),
        NodeTime("wave diff", "in_time_b"): NodeTime("wave"),
        OutputData("pose"): NodeData("Rotate", "out"),
        OutputTime: NodeTime("Rotate"),
        NodeData("speed", "in_pose"): NodeData("loop", "out"),
        NodeData("speed", "speed"): NodeData("Parameters", "speed_fac"),
        NodeData("chain run", "pose_b"): NodeData("flip run", "out"),
        NodeTime("chain run", "time_a"): NodeTime("run clip 1"),
        NodeData("blend", "in_pose_a"): NodeData("chain walk", "out"),
        NodeTime("wave diff", "in_time_a"): NodeTime("stand"),
        NodeData("Parameters", "speed"): InputData("Target Speed"),
        NodeData("flip run", "in_pose"): NodeData("run clip 2", "out"),
        NodeTime("blend", "in_time_a"): NodeTime("chain walk"),
        NodeData("wave additive", "in_pose_a"): NodeData("speed", "out"),
        NodeData("flip walk", "in_pose"): NodeData("walk clip 2", "out"),
    },
    default_parameters: {
        "Target Speed": F32(1.0),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "rotation_bone": EntityPath([
            "metarig",
            "spine",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
        "1": F32(1.0),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "chain walk": (335.0, 320.0),
            "walk clip 2": (21.0, 401.0),
            "wave diff": (596.3078, 868.61536),
            "wave": (411.69232, 978.4614),
            "wave additive": (1004.3075, 513.2307),
            "flip run": (170.0, 713.0),
            "run clip 2": (20.538483, 715.6923),
            "Make Rotation": (1130.7692, 96.92308),
            "run clip 1": (172.0, 558.0),
            "speed": (787.15393, 429.8462),
            "stand": (408.9231, 818.7693),
            "flip walk": (167.0, 401.0),
            "blend": (501.0, 441.0),
            "Parameters": (453.23077, -5.538437),
            "Rotate": (1185.231, 292.6154),
            "chain run": (328.0, 600.0),
            "walk clip 1": (169.0, 247.0),
            "loop": (640.0, 443.0),
        },
        input_position: (130.61536, -34.07692),
        output_position: (1354.3077, 305.46152),
    ),
)