(
    nodes: [
        (
            id: "a0be6dce-5208-44c8-adeb-53c3b48a8cb6",
            name: "",
            inner: {
                "bevy_animation_graph_builtin_nodes::graph_node::GraphNode": (
                    graph: "animation_graphs/human.animgraph.ron",
                ),
            },
            should_debug: false,
        ),
        (
            id: "5dae7c8b-a650-4604-8d6d-646074f464a3",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::ConstRagdollConfig": (
                    value: (
                        default_mode: None,
                        mode_overrides: {},
                        default_readback: None,
                        readback_overrides: {},
                    ),
                ),
            },
            should_debug: false,
        ),
    ],
    edges_inverted: {
        NodeData("a0be6dce-5208-44c8-adeb-53c3b48a8cb6", "target_speed"): InputData(Passthrough("target_speed")),
        NodeData("a0be6dce-5208-44c8-adeb-53c3b48a8cb6", "target_direction"): InputData(Passthrough("target_direction")),
    },
    io_spec: (
        input_times: [],
        input_data: {
            Passthrough("target_direction"): Vec3,
            Passthrough("target_speed"): F32,
        },
        output_time: false,
        output_data: {},
        input_order: {
            Data(Passthrough("target_speed")): 1,
            Data(Passthrough("target_direction")): 0,
        },
        output_order: {},
    ),
    default_data: {},
    editor_metadata: (
        node_positions: {
            "a0be6dce-5208-44c8-adeb-53c3b48a8cb6": (191.49219, 399.4297),
            "5dae7c8b-a650-4604-8d6d-646074f464a3": (192.83984, 666.6992),
        },
        input_position: (30.949219, 421.6797),
        output_position: (507.83984, 431.6211),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)