(
    nodes: [
        (
            name: "run clip 1",
            ty: "bevy_animation_graph::nodes::clip_node::ClipNode",
            inner: (
                clip: "animations/human_run.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "loop run",
            ty: "bevy_animation_graph::nodes::loop_node::LoopNode",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "loop",
            ty: "bevy_animation_graph::nodes::loop_node::LoopNode",
            inner: (
                interpolation_period: 0.0,
            ),
        ),
        (
            name: "walk clip 2",
            ty: "bevy_animation_graph::nodes::clip_node::ClipNode",
            inner: (
                clip: "animations/human_walk.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "chain run",
            ty: "bevy_animation_graph::nodes::chain_node::ChainNode",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "flip walk",
            ty: "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode",
            inner: (
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "stand",
            ty: "bevy_animation_graph::nodes::clip_node::ClipNode",
            inner: (
                clip: "animations/human_stand.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "chain walk",
            ty: "bevy_animation_graph::nodes::chain_node::ChainNode",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "walk clip 1",
            ty: "bevy_animation_graph::nodes::clip_node::ClipNode",
            inner: (
                clip: "animations/human_walk.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
        (
            name: "test blend space",
            ty: "bevy_animation_graph::nodes::blend_space_node::BlendSpaceNode",
            inner: (
                mode: LinearInterpolate,
                sync_mode: Absolute,
                points: [
                    (
                        id: "run",
                        point: (1.0, 0.0),
                    ),
                    (
                        id: "stand",
                        point: (0.0, 0.0),
                    ),
                    (
                        id: "walk",
                        point: (0.0, 1.0),
                    ),
                ],
                triangulation: (
                    triangles: [
                        (
                            triangle: (
                                p: (
                                    val: (1.0, 0.0),
                                    id: Index(0),
                                ),
                                q: (
                                    val: (0.0, 0.0),
                                    id: Index(1),
                                ),
                                r: (
                                    val: (0.0, 1.0),
                                    id: Index(2),
                                ),
                            ),
                            circumcenter: Some((-0.5, -0.5)),
                            circumradius: Some(1.5811388),
                        ),
                        (
                            triangle: (
                                p: (
                                    val: (0.0, 0.0),
                                    id: Index(1),
                                ),
                                q: (
                                    val: (1.0, 0.0),
                                    id: Index(0),
                                ),
                                r: (
                                    val: (0.0, 1.0),
                                    id: Index(2),
                                ),
                            ),
                            circumcenter: Some((0.5, 0.5)),
                            circumradius: Some(0.70710677),
                        ),
                        (
                            triangle: (
                                p: (
                                    val: (1.0, 0.0),
                                    id: Index(0),
                                ),
                                q: (
                                    val: (0.0, 0.0),
                                    id: Index(1),
                                ),
                                r: (
                                    val: (0.0, 1.0),
                                    id: Index(2),
                                ),
                            ),
                            circumcenter: Some((-0.5, -0.5)),
                            circumradius: Some(1.5811388),
                        ),
                        (
                            triangle: (
                                p: (
                                    val: (0.0, 0.0),
                                    id: Index(1),
                                ),
                                q: (
                                    val: (1.0, 0.0),
                                    id: Index(0),
                                ),
                                r: (
                                    val: (0.0, 1.0),
                                    id: Index(2),
                                ),
                            ),
                            circumcenter: Some((0.5, 0.5)),
                            circumradius: Some(0.70710677),
                        ),
                        (
                            triangle: (
                                p: (
                                    val: (0.0, 0.0),
                                    id: Index(1),
                                ),
                                q: (
                                    val: (1.0, 0.0),
                                    id: Index(0),
                                ),
                                r: (
                                    val: (0.0, 1.0),
                                    id: Index(2),
                                ),
                            ),
                            circumcenter: Some((0.5, 0.5)),
                            circumradius: Some(0.70710677),
                        ),
                    ],
                ),
            ),
        ),
        (
            name: "loop walk",
            ty: "bevy_animation_graph::nodes::loop_node::LoopNode",
            inner: (
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "flip run",
            ty: "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode",
            inner: (
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "run clip 2",
            ty: "bevy_animation_graph::nodes::clip_node::ClipNode",
            inner: (
                clip: "animations/human_run.anim.ron",
                override_duration: None,
                override_interpolation: None,
            ),
        ),
    ],
    edges_inverted: {
        NodeData("flip run", "pose"): NodeData("run clip 2", "pose"),
        NodeData("flip walk", "pose"): NodeData("walk clip 2", "pose"),
        NodeData("chain run", "pose A"): NodeData("run clip 1", "pose"),
        NodeData("loop run", "pose"): NodeData("chain run", "pose"),
        NodeData("chain walk", "pose B"): NodeData("flip walk", "pose"),
        NodeTime("test blend space", "time run"): NodeTime("loop run"),
        NodeData("test blend space", "pose stand"): NodeData("loop", "pose"),
        NodeTime("loop walk", "time"): NodeTime("chain walk"),
        NodeTime("test blend space", "time stand"): NodeTime("loop"),
        NodeData("test blend space", "position"): InputData("1"),
        NodeTime("loop", "time"): NodeTime("stand"),
        NodeTime("test blend space", "time walk"): NodeTime("loop walk"),
        OutputTime: NodeTime("test blend space"),
        NodeData("loop", "pose"): NodeData("stand", "pose"),
        NodeTime("chain walk", "time A"): NodeTime("walk clip 1"),
        OutputData("pose"): NodeData("test blend space", "pose"),
        NodeTime("chain walk", "time B"): NodeTime("flip walk"),
        NodeTime("loop run", "time"): NodeTime("chain run"),
        NodeData("test blend space", "pose walk"): NodeData("loop walk", "pose"),
        NodeTime("flip run", "time"): NodeTime("run clip 2"),
        NodeTime("chain run", "time B"): NodeTime("flip run"),
        NodeTime("flip walk", "time"): NodeTime("walk clip 2"),
        NodeData("test blend space", "pose run"): NodeData("loop run", "pose"),
        NodeTime("chain run", "time A"): NodeTime("run clip 1"),
        NodeData("loop walk", "pose"): NodeData("chain walk", "pose"),
        NodeData("chain walk", "pose A"): NodeData("walk clip 1", "pose"),
        NodeData("chain run", "pose B"): NodeData("flip run", "pose"),
    },
    default_parameters: {
        "Z": Vec3((0.0, 0.0, 1.0)),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "1": Vec2((0.5, 0.0)),
        "Target Speed": F32(1.6),
        "rotation_bone": EntityPath([
            "metarig",
            "spine",
        ]),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "run clip 1": (172.0, 558.0),
            "loop run": (521.5384, 587.99994),
            "loop": (509.8463, 847.3078),
            "walk clip 2": (21.0, 401.0),
            "chain run": (335.38458, 589.8461),
            "flip walk": (167.0, 401.0),
            "stand": (340.61536, 842.7692),
            "chain walk": (335.0, 320.0),
            "walk clip 1": (169.0, 247.0),
            "test blend space": (744.923, 460.61536),
            "loop walk": (487.3846, 323.0769),
            "flip run": (170.0, 713.0),
            "run clip 2": (20.538483, 715.6923),
        },
        input_position: (144.46149, -16.538467),
        output_position: (1354.3077, 305.46152),
        input_param_order: {
            "Z": 0,
            "Target Direction": 2,
            "1": 1,
            "Target Speed": 3,
            "rotation_bone": 4,
        },
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)