(
    nodes: [
        (
            name: "speed",
            inner: {
                "bevy_animation_graph::nodes::speed_node::SpeedNode": (),
            },
        ),
        (
            name: "walk clip 1",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_walk.anim.ron",
                ),
            },
        ),
        (
            name: "Rotate",
            inner: {
                "bevy_animation_graph::nodes::rotation_node::RotationNode": (
                    application_mode: Compose,
                    rotation_space: Character,
                    chain_decay: Linear,
                    chain_length: 1,
                    base_weight: 1.0,
                ),
            },
        ),
        (
            name: "flip walk",
            inner: {
                "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode": (
                    config: (
                        name_mapper: Pattern((
                            key_1: "L",
                            key_2: "R",
                            pattern_before: "^.*",
                            pattern_after: "$",
                        )),
                    ),
                ),
            },
        ),
        (
            name: "wave additive",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: Additive,
                ),
            },
        ),
        (
            name: "flip run",
            inner: {
                "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode": (
                    config: (
                        name_mapper: Pattern((
                            key_1: "L",
                            key_2: "R",
                            pattern_before: "^.*",
                            pattern_after: "$",
                        )),
                    ),
                ),
            },
        ),
        (
            name: "run clip 2",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_run.anim.ron",
                ),
            },
        ),
        (
            name: "blend",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: LinearInterpolate,
                ),
            },
        ),
        (
            name: "loop",
            inner: {
                "bevy_animation_graph::nodes::loop_node::LoopNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "stand",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_stand.anim.ron",
                ),
            },
        ),
        (
            name: "chain walk",
            inner: {
                "bevy_animation_graph::nodes::chain_node::ChainNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "Parameters",
            inner: {
                "bevy_animation_graph::nodes::graph_node::GraphNode": (
                    graph: "animation_graphs/velocity_to_params.animgraph.ron",
                ),
            },
        ),
        (
            name: "chain run",
            inner: {
                "bevy_animation_graph::nodes::chain_node::ChainNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "run clip 1",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_run.anim.ron",
                ),
            },
        ),
        (
            name: "wave diff",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: Difference,
                ),
            },
        ),
        (
            name: "wave",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_wave.anim.ron",
                ),
            },
        ),
        (
            name: "walk clip 2",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_walk.anim.ron",
                ),
            },
        ),
        (
            name: "Make Rotation",
            inner: {
                "bevy_animation_graph::nodes::arithmetic::vec3::rotation_arc::RotationArcNode": (),
            },
        ),
    ],
    edges_inverted: {
        NodeData("Rotate", "Bone Mask"): InputData("rotation_bone"),
        NodeTime("speed", "time"): NodeTime("loop"),
        NodeData("Make Rotation", "Vec3 In 2"): InputData("Target Direction"),
        OutputData("pose"): NodeData("Rotate", "pose"),
        NodeTime("chain run", "time B"): NodeTime("flip run"),
        NodeData("chain walk", "pose B"): NodeData("flip walk", "pose"),
        NodeTime("blend", "time A"): NodeTime("chain walk"),
        NodeData("chain walk", "pose A"): NodeData("walk clip 1", "pose"),
        NodeData("blend", "factor"): NodeData("Parameters", "blend_fac"),
        NodeData("Parameters", "speed"): InputData("Target Speed"),
        NodeData("blend", "pose A"): NodeData("chain walk", "pose"),
        NodeTime("wave additive", "time A"): NodeTime("speed"),
        OutputTime: NodeTime("Rotate"),
        NodeData("wave additive", "pose A"): NodeData("speed", "pose"),
        NodeData("wave diff", "pose B"): NodeData("wave", "pose"),
        NodeData("flip run", "pose"): NodeData("run clip 2", "pose"),
        NodeData("blend", "pose B"): NodeData("chain run", "pose"),
        NodeData("speed", "Speed"): NodeData("Parameters", "speed_fac"),
        NodeData("wave additive", "pose B"): NodeData("wave diff", "pose"),
        NodeTime("wave diff", "time A"): NodeTime("stand"),
        NodeTime("wave diff", "time B"): NodeTime("wave"),
        NodeTime("chain walk", "time B"): NodeTime("flip walk"),
        NodeData("wave diff", "pose A"): NodeData("stand", "pose"),
        NodeTime("wave additive", "time B"): NodeTime("wave diff"),
        NodeTime("chain walk", "time A"): NodeTime("walk clip 1"),
        NodeData("Rotate", "Rotation"): NodeData("Make Rotation", "Quat Out"),
        NodeTime("loop", "time"): NodeTime("blend"),
        NodeData("chain run", "pose B"): NodeData("flip run", "pose"),
        NodeTime("blend", "time B"): NodeTime("chain run"),
        NodeData("loop", "pose"): NodeData("blend", "pose"),
        NodeTime("Rotate", "time"): NodeTime("wave additive"),
        NodeData("wave additive", "factor"): InputData("1"),
        NodeTime("chain run", "time A"): NodeTime("run clip 1"),
        NodeData("flip walk", "pose"): NodeData("walk clip 2", "pose"),
        NodeTime("flip walk", "time"): NodeTime("walk clip 2"),
        NodeData("Rotate", "pose"): NodeData("wave additive", "pose"),
        NodeData("speed", "pose"): NodeData("loop", "pose"),
        NodeData("Make Rotation", "Vec3 In 1"): InputData("Z"),
        NodeTime("flip run", "time"): NodeTime("run clip 2"),
        NodeData("chain run", "pose A"): NodeData("run clip 1", "pose"),
    },
    default_parameters: {
        "Target Speed": F32(1.6),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "rotation_bone": EntityPath([
            "metarig",
            "spine",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
        "1": F32(1.0),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "speed": (787.15393, 429.8462),
            "walk clip 1": (169.0, 247.0),
            "Rotate": (1185.231, 292.6154),
            "flip walk": (167.0, 401.0),
            "wave additive": (1004.3075, 513.2307),
            "flip run": (170.0, 713.0),
            "run clip 2": (20.538483, 715.6923),
            "blend": (501.0, 441.0),
            "loop": (640.0, 443.0),
            "stand": (408.9231, 818.7693),
            "chain walk": (335.0, 320.0),
            "Parameters": (453.23077, -5.538437),
            "chain run": (328.0, 600.0),
            "run clip 1": (172.0, 558.0),
            "wave diff": (596.3078, 868.61536),
            "wave": (411.69232, 978.4614),
            "walk clip 2": (21.0, 401.0),
            "Make Rotation": (1130.7692, 96.92308),
        },
        input_position: (130.61536, -34.07692),
        output_position: (1354.3077, 305.46152),
    ),
)
