(
    nodes: [
        (
            name: "base anim",
            ty: "bevy_animation_graph::node::graph::Graph",
            inner: (
                graph: "animation_graphs/human_new.animgraph.ron",
            ),
        ),
        (
            name: "arm ik",
            ty: "bevy_animation_graph::node::ik::TwoBone",
            inner: (),
        ),
    ],
    edges_inverted: {
        OutputTime: NodeTime("arm ik"),
        NodeData("base anim", "Target Speed"): InputData("Target Speed"),
        NodeData("arm ik", "bone_path"): InputData("right hand path"),
        NodeData("arm ik", "in_pose"): NodeData("base anim", "pose"),
        NodeData("arm ik", "target_position"): InputData("target hand pos"),
        NodeData("base anim", "Target Direction"): InputData("Target Direction"),
        NodeTime("arm ik", "in_time"): NodeTime("base anim"),
        OutputData("pose"): NodeData("arm ik", "out"),
    },
    default_parameters: {
        "Target Speed": F32(1.0),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "right hand path": EntityPath([
            "metarig",
            "spine",
            "spine.001",
            "spine.002",
            "spine.003",
            "shoulder.R",
            "upper_arm.R",
            "forearm.R",
            "hand.R",
        ]),
        "target hand pos": Vec3((0.5, 1.5, 0.0)),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "base anim": (366.46158, 444.0),
            "arm ik": (563.07697, 420.92303),
        },
        input_position: (108.0, 459.69223),
        output_position: (777.2307, 446.7692),
    ),
)