(
    nodes: [
        (
            name: "wave additive",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: Additive,
                    sync_mode: NoSync,
                ),
            },
        ),
        (
            name: "stand",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_stand.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "walk clip 2",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_walk.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "Parameters",
            inner: {
                "bevy_animation_graph::nodes::graph_node::GraphNode": (
                    graph: "animation_graphs/velocity_to_params.animgraph.ron",
                ),
            },
        ),
        (
            name: "Make Rotation",
            inner: {
                "bevy_animation_graph::nodes::arithmetic::vec3::rotation_arc::RotationArcNode": (),
            },
        ),
        (
            name: "flip run",
            inner: {
                "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode": (
                    config: (
                        name_mapper: Pattern((
                            key_1: "L",
                            key_2: "R",
                            pattern_before: "^.*",
                            pattern_after: "$",
                        )),
                        mode: MirrorX,
                    ),
                ),
            },
        ),
        (
            name: "Rotate",
            inner: {
                "bevy_animation_graph::nodes::rotation_node::RotationNode": (
                    application_mode: Compose,
                    rotation_space: Character,
                    chain_decay: Linear,
                    chain_length: 1,
                    base_weight: 1.0,
                ),
            },
        ),
        (
            name: "run clip 1",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_run.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "wave",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_wave.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "run clip 2",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_run.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "chain walk",
            inner: {
                "bevy_animation_graph::nodes::chain_node::ChainNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "blend",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: LinearInterpolate,
                    sync_mode: Absolute,
                ),
            },
        ),
        (
            name: "wave diff",
            inner: {
                "bevy_animation_graph::nodes::blend_node::BlendNode": (
                    mode: Difference,
                    sync_mode: Absolute,
                ),
            },
        ),
        (
            name: "loop",
            inner: {
                "bevy_animation_graph::nodes::loop_node::LoopNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "walk clip 1",
            inner: {
                "bevy_animation_graph::nodes::clip_node::ClipNode": (
                    clip: "animations/human_walk.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
        ),
        (
            name: "chain run",
            inner: {
                "bevy_animation_graph::nodes::chain_node::ChainNode": (
                    interpolation_period: 0.5,
                ),
            },
        ),
        (
            name: "speed",
            inner: {
                "bevy_animation_graph::nodes::speed_node::SpeedNode": (),
            },
        ),
        (
            name: "flip walk",
            inner: {
                "bevy_animation_graph::nodes::flip_lr_node::FlipLRNode": (
                    config: (
                        name_mapper: Pattern((
                            key_1: "L",
                            key_2: "R",
                            pattern_before: "^.*",
                            pattern_after: "$",
                        )),
                        mode: MirrorX,
                    ),
                ),
            },
        ),
    ],
    edges_inverted: {
        NodeData("Parameters", "speed"): InputData("target_speed"),
        NodeData("chain run", "pose_b"): NodeData("flip run", "pose"),
        NodeTime("flip walk", "time"): NodeTime("walk clip 2"),
        NodeTime("chain walk", "time_a"): NodeTime("walk clip 1"),
        NodeData("Make Rotation", "in_a"): InputData("Z"),
        NodeData("wave additive", "pose_b"): NodeData("wave diff", "pose"),
        NodeData("wave additive", "pose_a"): NodeData("speed", "pose"),
        OutputData("pose"): NodeData("Rotate", "pose"),
        NodeData("chain walk", "pose_b"): NodeData("flip walk", "pose"),
        NodeData("blend", "factor"): NodeData("Parameters", "blend_fac"),
        NodeData("chain walk", "pose_a"): NodeData("walk clip 1", "pose"),
        NodeTime("blend", "time_b"): NodeTime("chain run"),
        NodeData("blend", "pose_b"): NodeData("chain run", "pose"),
        NodeData("Rotate", "bone_mask"): InputData("rotation_bone"),
        NodeTime("wave diff", "time_b"): NodeTime("wave"),
        NodeData("speed", "pose"): NodeData("loop", "pose"),
        NodeData("speed", "speed"): NodeData("Parameters", "speed_fac"),
        NodeData("chain run", "pose_a"): NodeData("run clip 1", "pose"),
        NodeTime("chain run", "time_a"): NodeTime("run clip 1"),
        NodeData("wave diff", "pose_a"): NodeData("stand", "pose"),
        NodeData("flip run", "pose"): NodeData("run clip 2", "pose"),
        NodeTime("loop", "time"): NodeTime("blend"),
        NodeTime("wave additive", "time_a"): NodeTime("speed"),
        NodeData("loop", "pose"): NodeData("blend", "pose"),
        NodeData("wave diff", "pose_b"): NodeData("wave", "pose"),
        NodeTime("blend", "time_a"): NodeTime("chain walk"),
        NodeTime("Rotate", "time"): NodeTime("wave additive"),
        NodeData("Rotate", "rotation"): NodeData("Make Rotation", "out"),
        NodeTime("flip run", "time"): NodeTime("run clip 2"),
        NodeTime("chain run", "time_b"): NodeTime("flip run"),
        NodeData("flip walk", "pose"): NodeData("walk clip 2", "pose"),
        NodeData("blend", "pose_a"): NodeData("chain walk", "pose"),
        NodeTime("chain walk", "time_b"): NodeTime("flip walk"),
        NodeTime("wave diff", "time_a"): NodeTime("stand"),
        NodeData("Rotate", "pose"): NodeData("wave additive", "pose"),
        NodeTime("wave additive", "time_b"): NodeTime("wave diff"),
        OutputTime: NodeTime("Rotate"),
        NodeData("Make Rotation", "in_b"): InputData("target_direction"),
        NodeTime("speed", "time"): NodeTime("loop"),
        NodeData("wave additive", "factor"): InputData("1"),
    },
    default_parameters: {
        "rotation_bone": EntityPath([
            "metarig",
            "spine",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
        "target_direction": Vec3((1.0, 0.0, 0.0)),
        "target_speed": F32(0.0),
        "1": F32(1.0),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "wave additive": (1001.2411, 506.39087),
            "stand": (408.9231, 818.7693),
            "walk clip 2": (21.0, 401.0),
            "Parameters": (472.01984, -81.55797),
            "Make Rotation": (1071.902, 104.07933),
            "flip run": (170.0, 713.0),
            "Rotate": (1178.9731, 288.77945),
            "run clip 1": (172.0, 558.0),
            "wave": (411.69232, 978.4614),
            "run clip 2": (20.538483, 715.6923),
            "chain walk": (335.0, 320.0),
            "blend": (501.0, 441.0),
            "wave diff": (596.3078, 868.61536),
            "loop": (640.0, 443.0),
            "walk clip 1": (169.0, 247.0),
            "chain run": (328.0, 600.0),
            "speed": (802.23206, 427.99463),
            "flip walk": (167.0, 401.0),
        },
        input_position: (130.61536, -34.07692),
        output_position: (1354.3077, 305.46152),
        input_param_order: {
            "rotation_bone": 2,
            "Z": 1,
            "target_direction": 0,
            "target_speed": 3,
            "1": 4,
        },
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)