(
    nodes: [
        (
            name: "Param graph",
            node: Graph("animation_graphs/velocity_to_params.animgraph.ron"),
        ),
        (
            name: "Run Clip 2",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Loop",
            node: Loop,
        ),
        (
            name: "Walk Flip LR",
            node: FlipLR,
        ),
        (
            name: "Walk Clip",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Walk Clip 2",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Walk Chain",
            node: Chain,
        ),
        (
            name: "Blend",
            node: Blend,
        ),
        (
            name: "Run Clip",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Run Flip LR",
            node: FlipLR,
        ),
        (
            name: "Speed",
            node: Speed,
        ),
        (
            name: "Run Chain",
            node: Chain,
        ),
        (
            name: "Make Rotation",
            node: RotationArc,
        ),
        (
            name: "Rotate",
            node: Rotation,
        ),
    ],
    edges_inverted: {
        NodeParameter("Make Rotation", "Vec3 In 2"): InputParameter("Target Direction"),
        OutputPose: NodePose("Rotate"),
        NodeParameter("Rotate", "Rotation"): NodeParameter("Make Rotation", "Quat Out"),
        NodePose("Speed", "Pose In"): NodePose("Loop"),
        NodePose("Walk Chain", "Pose In 2"): NodePose("Walk Flip LR"),
        NodeParameter("Rotate", "Bone Mask"): InputParameter("Rotation Mask"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodePose("Blend", "Pose In 1"): NodePose("Walk Chain"),
        NodePose("Blend", "Pose In 2"): NodePose("Run Chain"),
        NodePose("Walk Flip LR", "Pose In"): NodePose("Walk Clip 2"),
        NodePose("Run Flip LR", "Pose In"): NodePose("Run Clip 2"),
        NodePose("Rotate", "Pose In"): NodePose("Speed"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodeParameter("Make Rotation", "Vec3 In 1"): InputParameter("Z"),
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodePose("Run Chain", "Pose In 2"): NodePose("Run Flip LR"),
        NodePose("Walk Chain", "Pose In 1"): NodePose("Walk Clip"),
        NodePose("Run Chain", "Pose In 1"): NodePose("Run Clip"),
        NodePose("Loop", "Pose In"): NodePose("Blend"),
    },
    default_parameters: {
        "Target Speed": F32(1.5),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "Rotation Mask": BoneMask(Positive(
            bones: {
                [
                    "Main Controller",
                    "Main Controller",
                ]: 1.0,
            },
        )),
        "Z": Vec3((0.0, 0.0, 1.0)),
    },
    input_poses: {},
    output_parameters: {},
    output_pose: Some(BoneSpace),
    extra: (
        node_positions: {
            "Run Clip 2": (-216.0, -10.0),
            "Loop": (384.0, -92.0),
            "Walk Clip 2": (-220.0, -210.0),
            "Walk Chain": (61.0, -248.0),
            "Rotate": (692.0, -96.0),
            "Speed": (540.0, -99.0),
            "Make Rotation": (502.0, 69.0),
            "Param graph": (135.0, 190.0),
            "Run Chain": (60.0, -70.0),
            "Walk Flip LR": (-82.0, -204.0),
            "Walk Clip": (-84.0, -288.0),
            "Blend": (238.0, -142.0),
            "Run Clip": (-81.0, -102.0),
            "Run Flip LR": (-77.0, -21.0),
        },
        input_position: (-242.0, 134.0),
        output_position: (860.0, -42.0),
    ),
)