(
    nodes: [
        (
            name: "Facing rotation",
            node: RotationArc,
        ),
        (
            name: "Run Chain",
            node: Chain,
        ),
        (
            name: "Walk Clip",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Param graph",
            node: Graph("animation_graphs/velocity_to_params.animgraph.ron"),
        ),
        (
            name: "Run Clip",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Extend to skeleton",
            node: ExtendSkeleton,
        ),
        (
            name: "Walk Flip LR",
            node: FlipLR(),
        ),
        (
            name: "Rotate Test",
            node: Rotation(Blend, Character, Linear, 5),
        ),
        (
            name: "Speed",
            node: Speed,
        ),
        (
            name: "Walk Clip 2",
            node: Clip("animations/human_walk.anim.ron", Some(1.0)),
        ),
        (
            name: "Blend",
            node: Blend,
        ),
        (
            name: "Run Clip 2",
            node: Clip("animations/human_run.anim.ron", Some(1.0)),
        ),
        (
            name: "Run Flip LR",
            node: FlipLR(),
        ),
        (
            name: "Loop",
            node: Loop,
        ),
        (
            name: "Rotate",
            node: Rotation(Compose, Character, Linear, 1),
        ),
        (
            name: "IK left hand",
            node: TwoBoneIK,
        ),
        (
            name: "Walk Chain",
            node: Chain,
        ),
    ],
    edges_inverted: {
        NodePose("Loop", "Pose In"): NodePose("Blend"),
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodePose("Run Chain", "Pose In 2"): NodePose("Run Flip LR"),
        NodePose("Rotate Test", "Pose In"): NodePose("Extend to skeleton"),
        NodePose("Run Flip LR", "Pose In"): NodePose("Run Clip 2"),
        NodeParameter("Facing rotation", "Vec3 In 1"): InputParameter("Z"),
        NodeParameter("IK left hand", "Target Path"): InputParameter("Target Path"),
        OutputPose: NodePose("IK left hand"),
        NodeParameter("Rotate Test", "Rotation"): InputParameter("Rotate Test Quat"),
        NodeParameter("Rotate", "Bone Mask"): InputParameter("Rotation Mask"),
        NodeParameter("Rotate", "Rotation"): NodeParameter("Facing rotation", "Quat Out"),
        NodePose("Walk Chain", "Pose In 2"): NodePose("Walk Flip LR"),
        NodeParameter("Rotate Test", "Bone Mask"): InputParameter("Rotate Test Target"),
        NodePose("Blend", "Pose In 2"): NodePose("Run Chain"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodeParameter("Facing rotation", "Vec3 In 2"): InputParameter("Target Direction"),
        NodePose("Blend", "Pose In 1"): NodePose("Walk Chain"),
        NodePose("Rotate", "Pose In"): NodePose("Speed"),
        NodePose("Speed", "Pose In"): NodePose("Loop"),
        NodePose("Extend to skeleton", "Pose In"): NodePose("Rotate"),
        NodePose("Walk Chain", "Pose In 1"): NodePose("Walk Clip"),
        NodePose("IK left hand", "Pose In"): NodePose("Rotate Test"),
        NodePose("Run Chain", "Pose In 1"): NodePose("Run Clip"),
        NodePose("Walk Flip LR", "Pose In"): NodePose("Walk Clip 2"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodeParameter("IK left hand", "Target Position"): InputParameter("Target Position"),
    },
    default_parameters: {
        "Z": Vec3((0.0, 0.0, 1.0)),
        "Target Path": EntityPath([
            "metarig",
            "spine",
            "spine.001",
            "spine.002",
            "spine.003",
            "shoulder.R",
            "upper_arm.R",
            "forearm.R",
            "hand.R",
        ]),
        "Target Position": Vec3((0.3, 1.3, 0.6)),
        "Target Speed": F32(1.5),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "Rotation Mask": EntityPath([
            "metarig",
            "spine",
        ]),
        "Rotate Test Target": EntityPath([
            "metarig",
            "spine",
            "spine.001",
            "spine.002",
            "spine.003",
            "spine.004",
            "spine.005",
            "spine.006",
        ]),
        "Rotate Test Quat": Quat((-0.423318, 0.24140203, 0.423318, -0.7637597)),
    },
    input_poses: {},
    output_parameters: {},
    output_pose: Some(BoneSpace),
    extra: (
        node_positions: {
            "Facing rotation": (661.0, 263.0),
            "Run Chain": (170.0, -4.0),
            "Walk Clip": (20.0, -239.0),
            "Param graph": (235.0, 155.0),
            "Run Clip": (19.0, -44.0),
            "Extend to skeleton": (952.0, 9.0),
            "Walk Flip LR": (20.0, -150.0),
            "Rotate Test": (1078.0, 179.0),
            "Speed": (670.0, -28.0),
            "Walk Clip 2": (-120.0, -144.0),
            "Blend": (382.0, -155.0),
            "Run Clip 2": (-120.0, 52.0),
            "Run Flip LR": (16.0, 47.0),
            "Loop": (535.0, -26.0),
            "Rotate": (810.0, -29.0),
            "IK left hand": (1222.0, -26.0),
            "Walk Chain": (163.0, -191.0),
        },
        input_position: (69.0, 330.0),
        output_position: (1270.0, 258.0),
    ),
)
