(
    nodes: [
        (
            name: "ragdoll config",
            inner: {
                "bevy_animation_graph::nodes::const_ragdoll_config::ConstRagdollConfig": (
                    value: (
                        default_mode: None,
                        mode_overrides: {},
                        default_readback: None,
                        readback_overrides: {},
                    ),
                ),
            },
        ),
        (
            name: "locomotion",
            inner: {
                "bevy_animation_graph::nodes::graph_node::GraphNode": (
                    graph: "animation_graphs/human_new.animgraph.ron",
                ),
            },
        ),
    ],
    edges_inverted: {
        OutputData("pose"): NodeData("locomotion", "pose"),
        NodeData("locomotion", "target_speed"): InputData("target_speed"),
        OutputData("ragdoll_config"): NodeData("ragdoll config", "out"),
        OutputTime: NodeTime("locomotion"),
        NodeData("locomotion", "rotation_bone"): InputData("rotation_bone"),
        NodeData("locomotion", "Z"): InputData("Z"),
        NodeData("locomotion", "1"): InputData("1"),
        NodeData("locomotion", "target_direction"): InputData("target_direction"),
    },
    default_parameters: {
        "rotation_bone": EntityPath([
            "metarig",
            "spine",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
        "target_direction": Vec3((1.0, 0.0, 0.0)),
        "target_speed": F32(0.0),
        "1": F32(1.0),
    },
    input_times: {},
    output_parameters: {
        "ragdoll_config": RagdollConfig,
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "ragdoll config": (44.128906, 327.39453),
            "locomotion": (43.117188, -5.1875),
        },
        input_position: (-280.8789, -4.265625),
        output_position: (368.76953, 156.24219),
        input_param_order: {
            "rotation_bone": 2,
            "Z": 1,
            "target_direction": 0,
            "target_speed": 3,
            "1": 4,
        },
        input_time_order: {},
        output_data_order: {
            "ragdoll_config": 1,
            "pose": 0,
        },
        output_pose_order: {},
    ),
)