(
    nodes: [
        (
            id: "2e5e0717-5606-4eeb-b282-cc4df511da7a",
            name: "test node",
            inner: {
                "bevy_animation_graph::nodes::arithmetic::bool::const_bool::ConstBool": (
                    constant: true,
                ),
            },
        ),
    ],
    edges_inverted: {},
    default_parameters: {},
    input_times: {},
    output_parameters: {},
    output_time: None,
    extra: (
        node_positions: {
            "2e5e0717-5606-4eeb-b282-cc4df511da7a": (243.07422, 250.375),
        },
        input_position: (33.546875, 247.67969),
        output_position: (533.64844, 254.34375),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)