(
    nodes: [
        (
            name: "Locomotion FSM",
            inner: {
                "bevy_animation_graph::nodes::fsm_node::FSMNode": (
                    fsm: "fsm/locomotion.fsm.ron",
                ),
            },
        ),
    ],
    edges_inverted: {
        OutputData("pose"): NodeData("Locomotion FSM", "pose"),
        NodeData("Locomotion FSM", "driver events"): InputData("user events"),
        NodeData("Locomotion FSM", "speed"): InputData("speed"),
        OutputTime: NodeTime("Locomotion FSM"),
    },
    default_parameters: {
        "user events": EventQueue((
            events: [
                (
                    event: StringId(""),
                    weight: 1.0,
                    percentage: 1.0,
                ),
            ],
        )),
        "speed": F32(2.0),
    },
    input_times: {},
    output_parameters: {
        "pose": Pose,
    },
    output_time: Some(()),
    extra: (
        node_positions: {
            "Locomotion FSM": (463.6761, 488.58313),
        },
        input_position: (237.51926, 497.61542),
        output_position: (727.0, 463.0),
    ),
)
