(
    nodes: [
        (
            name: "speed_fac div",
            ty: "bevy_animation_graph::node::f32::Div",
            inner: (),
        ),
        (
            name: "Blend fac div",
            ty: "bevy_animation_graph::node::f32::Div",
            inner: (),
        ),
        (
            name: "Base speed",
            ty: "bevy_animation_graph::node::f32::Add",
            inner: (),
        ),
        (
            name: "1 - blend_fac",
            ty: "bevy_animation_graph::node::f32::Sub",
            inner: (),
        ),
        (
            name: "Amount into blend",
            ty: "bevy_animation_graph::node::f32::Sub",
            inner: (),
        ),
        (
            name: "Clamp blend_fac",
            ty: "bevy_animation_graph::node::f32::Clamp",
            inner: (),
        ),
        (
            name: "Factored walk_speed",
            ty: "bevy_animation_graph::node::f32::Mul",
            inner: (),
        ),
        (
            name: "Factored run_speed",
            ty: "bevy_animation_graph::node::f32::Mul",
            inner: (),
        ),
        (
            name: "Blend range size",
            ty: "bevy_animation_graph::node::f32::Sub",
            inner: (),
        ),
    ],
    edges_inverted: {
        NodeData("Amount into blend", "in_a"): InputData("speed"),
        NodeData("Blend fac div", "in_a"): NodeData("Amount into blend", "out"),
        NodeData("Clamp blend_fac", "min"): InputData("0"),
        NodeData("Factored walk_speed", "in_a"): NodeData("1 - blend_fac", "out"),
        NodeData("Blend fac div", "in_b"): NodeData("Blend range size", "out"),
        NodeData("speed_fac div", "in_b"): NodeData("Base speed", "out"),
        NodeData("speed_fac div", "in_a"): InputData("speed"),
        NodeData("Factored run_speed", "in_a"): NodeData("Clamp blend_fac", "out"),
        NodeData("Clamp blend_fac", "max"): InputData("1"),
        NodeData("1 - blend_fac", "in_b"): NodeData("Clamp blend_fac", "out"),
        NodeData("Base speed", "in_a"): NodeData("Factored run_speed", "out"),
        NodeData("Blend range size", "in_b"): InputData("blend_start"),
        NodeData("Amount into blend", "in_b"): InputData("blend_start"),
        NodeData("Blend range size", "in_a"): InputData("blend_end"),
        NodeData("Base speed", "in_b"): NodeData("Factored walk_speed", "out"),
        NodeData("Clamp blend_fac", "in"): NodeData("Blend fac div", "out"),
        NodeData("Factored walk_speed", "in_b"): InputData("walk_speed"),
        OutputData("blend_fac"): NodeData("Clamp blend_fac", "out"),
        NodeData("1 - blend_fac", "in_a"): InputData("1"),
        NodeData("Factored run_speed", "in_b"): InputData("run_speed"),
        OutputData("speed_fac"): NodeData("speed_fac div", "out"),
    },
    default_parameters: {
        "speed": F32(1.0),
        "run_speed": F32(0.8),
        "walk_speed": F32(0.3),
        "blend_start": F32(1.0),
        "blend_end": F32(4.5),
        "0": F32(0.0),
        "1": F32(1.0),
    },
    input_times: {},
    output_parameters: {
        "speed_fac": F32,
        "blend_fac": F32,
    },
    output_time: None,
    extra: (
        node_positions: {
            "speed_fac div": (712.61536, 181.84619),
            "Blend fac div": (125.53845, -143.99998),
            "Base speed": (563.07684, 184.61542),
            "1 - blend_fac": (253.84619, 183.69238),
            "Amount into blend": (-27.692139, -233.53845),
            "Clamp blend_fac": (282.46143, -148.61539),
            "Factored walk_speed": (409.8462, 264.9231),
            "Factored run_speed": (415.38458, 88.61536),
            "Blend range size": (-30.461609, -67.38461),
        },
        input_position: (-194.76935, -21.23082),
        output_position: (967.38446, 101.53839),
    ),
)
