(
    source: "models/character_rigged.glb#Scene0",
    path_to_player: ["metarig"],
    animation_graph: "animation_graphs/editor_as_a_plugin.animgraph.ron",
    skeleton: "skeletons/human.skn.ron",
)
