(
    states: [
        (
            id: "walk",
            graph: "animation_graphs/walk.animgraph.ron",
            global_transition: Some((
                duration: 1.0,
                graph: "animation_graphs/walk_to_run.animgraph.ron",
            )),
        ),
        (
            id: "run",
            graph: "animation_graphs/run.animgraph.ron",
            global_transition: None,
        ),
    ],
    transitions: [
        (
            id: "slow_down",
            source: "run",
            target: "walk",
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
        (
            id: "speed_up",
            source: "walk",
            target: "run",
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
    ],
    start_state: "run",
    input_data: {
        "speed": F32(1.0),
    },
    extra: (
        states: {
            "walk": (334.10522, 309.52664),
            "run": (552.15, 310.6519),
        },
    ),
)