(
    states: [
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b291",
            label: "walk",
            graph: "animation_graphs/walk.animgraph.ron",
            global_transition: Some((
                duration: 1.0,
                graph: "animation_graphs/walk_to_run.animgraph.ron",
            )),
        ),
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b292",
            label: "run",
            graph: "animation_graphs/run.animgraph.ron",
            global_transition: None,
        ),
    ],
    transitions: [
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b293",
            variant: Direct(source: "505e7d48-bbdb-440b-ad3f-5886d332b292", target: "505e7d48-bbdb-440b-ad3f-5886d332b291"),
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b294",
            variant: Direct(source: "505e7d48-bbdb-440b-ad3f-5886d332b291", target: "505e7d48-bbdb-440b-ad3f-5886d332b292"),
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
    ],
    start_state: "505e7d48-bbdb-440b-ad3f-5886d332b291",
    input_data: {
        "speed": F32(1.0),
    },
    extra: (
        states: {
            "505e7d48-bbdb-440b-ad3f-5886d332b291": (300., 230.),
        },
    ),
)
