(
    states: [
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b291",
            label: "walk",
            graph: "animation_graphs/walk.animgraph.ron",
            state_transition: Some((
                kind: Graph(
                    graph: "animation_graphs/walk_to_run.animgraph.ron",
                    timed: Some(1.0),
                ),
            )),
        ),
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b292",
            label: "run",
            graph: "animation_graphs/run.animgraph.ron",
            state_transition: None,
        ),
    ],
    transitions: [
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b294",
            source: "505e7d48-bbdb-440b-ad3f-5886d332b291",
            target: "505e7d48-bbdb-440b-ad3f-5886d332b292",
            data: (
                kind: Graph(
                    graph: "animation_graphs/walk_to_run.animgraph.ron",
                    timed: Some(1.0),
                ),
            ),
        ),
        (
            id: "505e7d48-bbdb-440b-ad3f-5886d332b293",
            source: "505e7d48-bbdb-440b-ad3f-5886d332b292",
            target: "505e7d48-bbdb-440b-ad3f-5886d332b291",
            data: (
                kind: Graph(
                    graph: "animation_graphs/walk_to_run.animgraph.ron",
                    timed: Some(1.0),
                ),
            ),
        ),
    ],
    start_state: "505e7d48-bbdb-440b-ad3f-5886d332b291",
    node_spec: (
        input_times: [],
        input_data: {},
        output_time: false,
        output_data: {},
        input_order: {},
        output_order: {},
    ),
    extra: (
        states: {
            "505e7d48-bbdb-440b-ad3f-5886d332b291": (300.0, 230.0),
            "68a39708-7e0a-47b9-a943-995cb158c092": (143.0117, -15.183594),
            "505e7d48-bbdb-440b-ad3f-5886d332b292": (-22.433594, 175.38669),
        },
    ),
)