(
    states: [
        (
            id: "walk",
            graph: "animation_graphs/walk.animgraph.ron",
        ),
        (
            id: "run",
            graph: "animation_graphs/run.animgraph.ron",
        ),
    ],
    transitions: [
        (
            id: "run_to_walk",
            source: "run",
            target: "walk",
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
        (
            id: "walk_to_run",
            source: "walk",
            target: "run",
            duration: 1.0,
            graph: "animation_graphs/walk_to_run.animgraph.ron",
        ),
    ],
    start_state: "run",
    extra: (
        states: {
            "run": (335.3684, 522.9473),
            "walk": (334.10522, 310.10526),
            "kaput useless stateeeeeeeee reeeeee REEEE": (207.1579, 350.5263),
        },
    ),
)