(
    nodes: [
        (
            name: "Speed",
            node: Speed,
        ),
        (
            name: "Param graph",
            node: Graph("animation_graphs/velocity_to_params.animgraph.ron"),
        ),
        (
            name: "Loop Walk",
            node: Loop(),
        ),
        (
            name: "Run Clip",
            node: Clip("animations/fox_run.anim.ron", None),
        ),
        (
            name: "Walk Clip",
            node: Clip("animations/fox_walk.anim.ron", None),
        ),
        (
            name: "Blend",
            node: Blend,
        ),
        (
            name: "Loop Run",
            node: Loop(),
        ),
    ],
    edges_inverted: {
        NodePose("Blend", "Pose In 2"): NodePose("Loop Run"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodeParameter("Param graph", "Blend Start"): InputParameter("Blend Start"),
        NodePose("Speed", "Pose In"): NodePose("Blend"),
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodePose("Loop Run", "Pose In"): NodePose("Run Clip"),
        NodePose("Loop Walk", "Pose In"): NodePose("Walk Clip"),
        OutputPose: NodePose("Speed"),
        NodeParameter("Param graph", "Blend End"): InputParameter("Blend End"),
        NodePose("Blend", "Pose In 1"): NodePose("Loop Walk"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
    },
    default_parameters: {
        "Blend Start": F32(0.5),
        "Blend End": F32(1.5),
        "Target Speed": F32(1.5),
    },
    input_poses: {},
    output_parameters: {},
    output_pose: Some(BoneSpace),
    extra: (
        node_positions: {
            "Speed": (130.0, 152.0),
            "Walk Clip": (-370.0, 115.0),
            "Loop Walk": (-223.0, 114.0),
            "Blend": (-21.0, 138.0),
            "Run Clip": (-373.0, 5.0),
            "Param graph": (-223.0, 219.0),
            "Loop Run": (-223.0, 3.0),
        },
        input_position: (-381.0, 260.0),
        output_position: (269.0, 173.0),
    ),
)
