(
    nodes: [
        (
            name: "Walk Flip LR",
            node: FlipLR(
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "Walk Clip",
            node: Clip("animations/human_walk.anim.ron", None, Some(Linear)),
        ),
        (
            name: "Walk Chain",
            node: Chain(
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "Walk Clip 2",
            node: Clip("animations/human_walk.anim.ron", None, Some(Linear)),
        ),
        (
            name: "Blend",
            node: Blend,
        ),
        (
            name: "Rotate",
            node: Rotation(Compose, Character, Linear, 1, 1.0),
        ),
        (
            name: "Run Clip 2",
            node: Clip("animations/human_run.anim.ron", None, Some(Linear)),
        ),
        (
            name: "Speed",
            node: Speed,
        ),
        (
            name: "Make Rotation",
            node: RotationArc,
        ),
        (
            name: "Param graph",
            node: Graph("animation_graphs/velocity_to_params.animgraph.ron"),
        ),
        (
            name: "Run Chain",
            node: Chain(
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "Loop",
            node: Loop(
                interpolation_period: 0.5,
            ),
        ),
        (
            name: "Run Flip LR",
            node: FlipLR(
                config: (
                    name_mapper: Pattern((
                        key_1: "L",
                        key_2: "R",
                        pattern_before: "^.*",
                        pattern_after: "$",
                    )),
                ),
            ),
        ),
        (
            name: "Run Clip",
            node: Clip("animations/human_run.anim.ron", None, Some(Linear)),
        ),
    ],
    edges_inverted: {
        NodeParameter("Make Rotation", "Vec3 In 2"): InputParameter("Target Direction"),
        NodeParameter("Rotate", "Rotation"): NodeParameter("Make Rotation", "Quat Out"),
        NodeParameter("Rotate", "Bone Mask"): InputParameter("Rotation Mask"),
        NodePose("Walk Chain", "Pose In 2"): NodePose("Walk Flip LR"),
        NodeParameter("Speed", "Speed"): NodeParameter("Param graph", "speed_fac"),
        NodePose("Walk Chain", "Pose In 1"): NodePose("Walk Clip"),
        NodePose("Run Flip LR", "Pose In"): NodePose("Run Clip 2"),
        NodePose("Run Chain", "Pose In 1"): NodePose("Run Clip"),
        NodeParameter("Param graph", "Target Speed"): InputParameter("Target Speed"),
        NodePose("Run Chain", "Pose In 2"): NodePose("Run Flip LR"),
        OutputPose: NodePose("Rotate"),
        NodePose("Speed", "Pose In"): NodePose("Loop"),
        NodePose("Blend", "Pose In 1"): NodePose("Walk Chain"),
        NodePose("Blend", "Pose In 2"): NodePose("Run Chain"),
        NodeParameter("Make Rotation", "Vec3 In 1"): InputParameter("Z"),
        NodeParameter("Blend", "Factor"): NodeParameter("Param graph", "blend_fac"),
        NodePose("Rotate", "Pose In"): NodePose("Speed"),
        NodePose("Walk Flip LR", "Pose In"): NodePose("Walk Clip 2"),
        NodePose("Loop", "Pose In"): NodePose("Blend"),
    },
    default_parameters: {
        "Target Speed": F32(3.0),
        "Target Direction": Vec3((1.0, 0.0, 0.0)),
        "Rotation Mask": EntityPath([
            "metarig",
            "spine",
        ]),
        "Z": Vec3((0.0, 0.0, 1.0)),
    },
    input_poses: {},
    output_parameters: {},
    output_pose: Some(BoneSpace),
    extra: (
        node_positions: {
            "Walk Chain": (-74.0, -303.0),
            "Walk Clip 2": (-351.0, -251.0),
            "Speed": (612.0, -238.0),
            "Make Rotation": (502.0, 69.0),
            "Loop": (384.0, -92.0),
            "Run Flip LR": (-282.0, -21.0),
            "Walk Flip LR": (-214.0, -247.0),
            "Walk Clip": (-215.0, -365.0),
            "Rotate": (692.0, -97.0),
            "Blend": (124.0, -240.0),
            "Run Clip 2": (-415.0, -20.0),
            "Param graph": (162.0, 197.0),
            "Run Chain": (-130.0, -81.0),
            "Run Clip": (-284.0, -109.0),
        },
        input_position: (-267.0, 145.0),
        output_position: (840.0, -45.0),
    ),
)